body {
    margin: 0;

    font-family: 'Roboto Slab', serif;
}


/* Header Section Styles */
.header-section {
    background-color: #1A1A1A;
    color: #E8E8E8; 
    padding: 50px;
    text-align: center;
    
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4em;

   
}

.header-content img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    max-height: 500px;
    margin-right: 100px;

}

@media (max-width: 768px) {
    .header-content img {
        margin-right: 0; /* Remove the right margin on smaller screens */
    }
}

.header-content h1 {
    color: #D8BFD8;
    font-size: 4em;
}

.header-content p {
    font-size: 2em;
}
.header-text {
    max-width: 600px;
    padding-left: 80px;
    text-align: center;
    
}



/* Use relative units for padding and margin */
.buttons {
    display: flex;
    align-items: center;
    margin-top: 2%; 
    justify-content: center;
   
}
.buttons a {
    text-decoration: none; 
    
}

.buttons button {
    padding: 1.5em 2em; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 0.5em;
    font-size: .7em;
}

/* Remove fixed margin values */
#githubButton {
    background-color: #D8BFD8;
    color: #1A1A1A;
}

#resumeButton {
    background-color: #D8BFD8;
    color: #1A1A1A;
}

/* Add media query for responsive adjustments */
@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
        text-align: center;
    }

    .buttons button {
        margin: 0.5em 0;
    }
}

/* Main Section Styles */
.main-section {
    background: linear-gradient(to bottom, #F4F4F4, #CCCCCC); 
    padding: 40px;
    text-align: left;
}

.skills-list {
    list-style-type: none;
}
/* Section Styles */
.skills-section,
.projects-section {
    margin-bottom: 0px;
}

/* Decorative Underline Styles */
.underline {
    color: #D8BFD8;
    border: 2px solid ;
    width: 200px;
    margin-left: 0;
    margin-top: 0;
}

/* Project Card Styles */
.projects-container {
    display: flex;
    height: 300px;
    justify-content: space-between; 
    color: #E8E8E8;
}


.project-card {
    background-color: #1A1A1A;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
}

.project-card a {
    text-decoration: none; /* Remove underline */
    color: #E8E8E8 /* Set the desired text color */
}
.project-card a:hover {
    text-decoration: underline; 
    
}
#card-1 {
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 2)), url('Project1.png');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E8E8E8;
    text-align: center;
}


/* Responsive Styles  */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        
    }

    .header-buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .header-content img {
        max-width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
    }
}
