body {
    margin: 0;

    font-family: 'Roboto Slab', serif;
}


/* Header Section Styles */
.header-section {
    background-color: #1A1A1A;
    color: #E8E8E8; 
    padding: 50px;
    text-align: center;
    
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4em;

   
}

.header-content img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    margin-right: 20px; /* Adjust margin as needed */
    object-fit: cover;

}



.header-content h1 {
    color: #D8BFD8;
    font-size: 4em;
}

.header-content p {
    font-size: 2em;
}
.header-text {
    max-width: 600px;
    padding-left: 80px;
    text-align: center;
    padding-top: 0;
}

.header-tags {
    font-size: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    text-align: left;

}
.header-tags p {
   
    margin: 0 15px;
}



/* Use relative units for padding and margin */
.buttons {
    display: flex;
    align-items: center;
    margin-top: 2%; 
    justify-content: center;
   
}
.buttons a {
    text-decoration: none; 
    
}

.buttons button {
    padding: 1em 1.5em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 0.5em;
    font-size: 14px;

}

/* Remove fixed margin values */
#githubButton {
    background-color: #D8BFD8;
    color: #1A1A1A;
    transition: transform 0.3s ease-in-out;
}
#githubButton:hover {
    transform: scale(1.05); 
}



#resumeButton {
    background-color: #D8BFD8;
    color: #1A1A1A;
    transition: transform 0.3s ease-in-out; 
}
#resumeButton:hover {
    transform: scale(1.05); 
    
}




/* Main Section Styles */
.main-section {
    background: linear-gradient(to bottom, #F4F4F4, #CCCCCC); 
    padding: 40px;
    text-align: left;

}



/* Section Styles */
.skills-section,
.projects-section {
    margin-bottom: 0px;
   
}

.skills-section ul {
    list-style: none;
}




.skills-list li {
    font-size: 20px;
    line-height: 1.5;
    
}



/* Decorative Underline Styles */
.underline {
    color: #D8BFD8;
    border: 2px solid ;
    width: 200px;
    margin-left: 0;
    margin-top: 0;
}

/* Project Card Styles */
.projects-container {
    display: flex;
   margin-top: 20px;
    justify-content:flex-start; 
    color: #E8E8E8;
    
}


.project-card {
    background-color: #1A1A1A;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    margin: 10px;
    box-shadow: 0 2 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out; 
    
  
    
}

.project-card a {
    text-decoration: none; 
    color: #E8E8E8;
   
    
}
.project-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 2 20px rgba(0, 0, 0, 0.3);

    
}
#card-1 {
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 2)), url('Project1.png');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E8E8E8;
    text-align: center;
}
#card-2 {
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 2)), url('Project2.png');
    background-size: cover;
   
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E8E8E8;
    text-align: center;
}
.tags-container {
    margin-top: 10px;
}

.tag {
    background-color: #D8BFD8; 
    color: #1A1A1A;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
    display: inline-block;
}

/* Add hover effect for tags */
.tag:hover {
    background-color: #B8A5B8;
}



/* Responsive Styles  */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    .header-content {
        flex-direction: column-reverse;
        text-align: center;
    
    }

    .header-content img {
 
        max-width: 275px;
        max-height: 2575px;
        border-radius: 50%;
        padding-bottom: 0;
        
 
  
    }

    .header-text {
        padding-left: 0;
    }

    .buttons {
        flex-direction: column;
    }

    .projects-container {
        width: 100%;
        flex-direction: column;
    }
    .project-card {
        width: 80%;
    }

    .header-tags {
        font-size: 10px;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        margin-top: 2px;
        margin-bottom: 0;
    }
}